## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About Us")}</%block>

<div class="page-heading">
  <h1>${_("About Us")}</h1>
</div>
<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12 sm-col-8">
          <div class="width_main normal_txt">
	            <h1>About us</h1>
              <p></p><p><strong>Who We Are:</strong> Ashoka University is a private, nonprofit university, and an unprecedented example of collective public philanthropy in India. Ashoka offers its students a multidisciplinary liberal education, usually defined as one that transcends the boundaries between the arts and sciences, and carries a strong emphasis on learning across subjects. Such an education provides depth and breadth of learning, both by exposing students to diverse disciplines and by emphasising scholarship and research.</p>
              <p><strong>Our Faculty and Students:</strong> The University’s focus is on attracting the brightest students, putting them under the guidance of the most inspirational faculty, and developing a global reputation for innovative research. Faculty and students come from across the country, and the world, and Ashoka is committed to maintaining the highest intellectual and academic standards.</p>
              <p><strong>Our Programmes:</strong> Ashoka University offers undergraduate and postgraduate programmes across the humanities, social sciences and fundamental natural sciences. The aim is to help students become well-rounded individuals who are able to think critically about issues from multiple perspectives, communicate effectively and go on to become ethical self-aware leaders with a commitment to public service.</p>
              <p><strong>Our Partners:</strong> The University is helped in its endeavours by some of the top-rated institutions in the world. Our academic partners include University of Pennsylvania’s School of Engineering and Applied Sciences; University of California, Berkeley; University of Michigan; Sciences Po, Paris; Carleton College; King’s College, London, Trinity College, Dublin and Yale University . These partnerships extend to the development of faculty exchanges, summer abroad programmes for students and research projects.</p>
              <p><strong>How We Help</strong>: At Ashoka, care is taken to ensure that affordability does not become a deterrent for meritorious students. The University offers support to those who meet its demanding academic standards – over two-thirds of the current students are pursuing their education supported by scholarships and other forms of financial aid.</p>
              <p><strong>Our Alumni:</strong> Ashoka’s unique post-graduate Young India Fellowship (YIF), now in its fifth year, has rapidly become one of the most sought-after programmes in India. YIF alumni are making their mark in some of the top organisations across the public, private and social sectors. They can be found at leading firms such as BCG, The Gates Foundation, McKinsey and Co., Microsoft, TIME Magazine, and the World Bank. In India, acclaimed organisations like Genpact, Avendus Capital, Cipla, Goonj, STAR TV and Teach for India count Ashoka alumni among their ranks. Many have gone on to premier global research universities like Cambridge, Harvard, Oxford, Princeton, Stanford and Yale and been awarded well-known international scholarships such as the Chevening, Commonwealth, Fulbright and Rhodes scholarships.</p>
              <p><em>(Ashoka is located on a 25-acre campus in Rajiv Gandhi Education City in the NCR near New Delhi, India.)</em></p>
        </div>
        </div>
        <div class="col col-12 sm-col-4 mission-statement">
            <img src="${static.url('images/user-thumbnail.png')}" alt="Mission Statement">
		<h1><strong>Professor Andre Beteille</strong></h1>
		<p>
		National Research Professor<br>
		Professor Emeritus, Delhi School of Economics<br>
		Ph.D. University of Delhi</p>
            <p>"I think Ashoka University is extremely relevant because this kind of broad-based learning in the humanities and social sciences contributes to the making of a democratic citizenship. Our country needs informed citizens who can question the status quo. This is what teaching at Ashoka meant for me, encouraging students to ask questions and find answers for themselves. It also helped me to explore my own ideas with the active collaboration of the students."</p>
            
        </div>
      </div>
    </div>
  </div>
</section>
