## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<div class="page-heading">
  <h1>${_("Honor Code")}</h1>
</div>
<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12 sm-col-12 md-col-3">
          <ul class="list-divided">
            <li class="item"><a href="#collaboration-policy" class="brand-link">${_("Collaboration Policy")}</a></li>
            <li class="item"><a href="#honor-code-pledge" class="brand-link">${_("Lorem ipsum dolor sit amet")}</a></li>
            <li class="item"><a href="#changing-the-honor-code" class="brand-link">${_("Lorem ipsum dolor sit amet")}</a></li>
          </ul>
        </div>
        <div class="col col-12 sm-col-12 md-col-9">
          <h3><strong>Effective Date:</strong> January 01, 1970</h3>
          <h1 class="honor-code-heading">The AshokaX Honor Code</h1>
          <h2 id="collaboration-policy">COLLABORATION POLICY</h2>
          <p>By enrolling in a course on AshokaX, you are joining a special worldwide community of learners. The aspiration of AshokaX is to provide anyone with an internet connection access to courses from the best universities and institutions in the world and to provide our learners the best educational experience internet technology enables. You are a part of the community that will help AshokaX achieve this goal. AshokaX depends upon your motivation to learn the material and to do so with honesty and academic integrity. In order to participate in AshokaX, you must agree to the Honor Code below and any additional terms specific to a class. This Honor Code, and any additional terms, will be posted on each class website.</p>
          <p>AshokaX depends upon your motivation to learn the material and to do so with honesty. In order to participate in AshokaX, you must agree to the Honor Code below and any additional terms specific to a class. This Honor Code, and any additional terms, will be posted on each class website.</p>
          <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>
          
          <h2 id="honor-code-pledge"><strong>ASHOKAX HONOR CODE PLEDGE</strong></h2>
    			  <p>By enrolling in a AshokaX course, I agree that I will:</p>
    		  	<ul class="list-bulleted">
              <li>Complete all mid-terms and final exams with my own work and only my own work. I will not submit the work of any other person.</li>
              <li>Maintain only one user account and not let anyone else use my username and/or password.</li>
              <li>Not engage in any activity that would dishonestly improve my results, or improve or hurt the results of others.</li>
              <li>Not post answers to problems that are being used to assess student performance.</li>
            </ul>
				    <p>Unless otherwise indicated by the faculty of an AshokaX course, learners on AshokaX are encouraged to:</p>
				    <ul class="list-bulleted">
              <li>Collaborate with others on the lecture videos, exercises, homework and labs.</li>
              <li>Discuss with others general concepts and materials in each course.</li>
              <li>Present ideas and written work to fellow AshokaX learners or others for comment or criticism.</li>
			  	  </ul>
          <h2><strong>VIOLATIONS</strong></h2>
             <p>If you are found in violation of the Terms of Service or Honor Code, you may be subject to one or more of the following actions:</p>
             <ul class="list-bulleted" ><li>Receiving a zero or no credit for an assignment;</li>
                <li>Having any certificate earned in the course withheld or revoked;</li>
                <li>Being unenrolled from a course; or</li>
                <li>Termination of your use of the Site.</li>
                <li>Additional actions may be taken at the sole discretion of edX and edX Member course providers. </li>
             </ul>
            <p>Honor code violations will be determined at the sole discretion of AshokaX faculty and/or administration. You will be notified if a determination has been made that you have violated this honor code and you will be informed of the corresponding action to be taken as a result of the violation.</p>
          <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>
          <h2 id="changing-the-honor-code">Changing the Honor Code</h2>
        			<p>Please note that we review and may make changes to this Privacy Policy from time to time. When changes are made, the Privacy Policy link will include a notation "Revised (date)." indicating that you should review the new terms, which will be effective immediately upon posting on this page, with an updated effective date. The notation will be included in the Privacy Policy link for at least seven (7) days after the update has been made. By accessing the Site after any changes have been made, you signify your agreement on a prospective basis to the modified Privacy Policy and any changes contained therein. In case you miss the notification referenced above, be sure to return to this page periodically to ensure familiarity with the most current version of this Privacy Policy.</p>
          <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>

          <h3><strong>Effective Date:</strong> 01 September 2016</h3>
        </div>
      </div>
    </div>
  </div>
</section>
