## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<script type="text/template" id="about-content">
  <div class="grid-manual">
    <div class="row">
      <div class="col col-12 text-center">
        <h2>Join AshokaX to discover great liberal arts courses</h2>
      </div>
    </div>

    <div class="row about-list text-center">
      <div class="col col-4 about-list-item">
        <div class="about-icon">
          <img src="${static.url('images/about-img.png')}" alt="Students" />
          <p>
            <span>Participants</span>
            Learners from across the globe with a wide range of educational background and interests.
          </p>
        </div>
      </div>
      <div class="col col-4 about-list-item">
        <div class="about-icon">
          <img src="${static.url('images/about-img.png')}" alt="Faculty" />
          <p>
            <span>Faculty</span>
            Inspirational Faculty drawn from across the world, representing a range of ages, ideas, and perspectives. 
          </p>
        </div>
      </div>
      <div class="col col-4 about-list-item">
        <div class="about-icon">
          <img src="${static.url('images/about-img.png')}" alt="Courses" />
          <p>
            <span>Courses</span>
            Liberal arts courses designed and curated by our faculty for a diverse audience.
          </p>
        </div>
      </div>
    </div>

    <div class="row hidden more-about-btn">
      <div class="col col-12 text-center">
        <a href="/about" class="btn-neutral">More about AshokaX</a>
      </div>
    </div>
  </div>
</script>

<script src="${static.url('js/about-site.js')}"></script>
